html {
	background-color: #d1d1d1;
}
body {
	margin: 0;
	padding: 0;
}
.dropdown-menu a {
	font-size: 18px;
	margin: 10px 0;
}
.dropdown-toggle {
	font-size: 20px;
	font-weight: 500;
	margin: 2px 10px
}
.jumbotron.sub {
	height: 500px !important;
	margin:0 !important;
}
#home-pic {
	background: url(../img/home-pic.jpg) no-repeat;
	background-size: cover;
	background-position:center;
	height: 800px;
	margin-bottom: 0;
	padding-top: 200px;
	min-height: 100%; 
  	min-height: 100vh;
  	display: flex;
  	align-items: center;
}
#home-pic h2, #home-pic-sm h2 {
	color: #FFF;
	text-shadow: 2px 2px #000;
}
#home-pic-sm {
	background: url(../img/home-pic-sm.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 800px;
	margin-bottom: 0;
	padding-top: 150px;
}
#home-pic-sm .btn-top {
	margin-bottom: 300px;
}
.vertical-center {
  min-height: 100%; 
  min-height: 100vh;
  display: flex;
  align-items: center;
}
#techcourse {
	background: url(../img/techcourses.jpg) no-repeat;
	background-size: cover;
}
#careercenter {
	background: url(../img/careercenter.jpg) no-repeat;
	background-size: cover;
	color: #FFF;
}
#gti {
	background: url(../img/gti.jpg) no-repeat;
	background-size: cover;
}
#internship {
	background: url(../img/internship.jpg) no-repeat;
	background-size: cover;
}
#skyline-tsa {
	background: url(../img/skyline-tsa.jpg) no-repeat;
	background-size: cover;
}
.jumbotron h1 {
	padding-top: 150px !important;
	color: #FFF !important;
	text-shadow: 2px 2px #000000 !important;
}
#computer-programming, #sign-up, #description {
	background-color: #035987;
	color: #EDEDED;
}
#computer-literacy, #transportation {
	background-color: #E1E1E1;
	color: #424242;
}
#computer-literacy hr {
	border-color: #424242;
}
#digital-media {
	background-color: #6C7DA2;
	color: #EDEDED;
}
#digital-media hr {
	border-color: #EDEDED;
}
.class {
	margin: 20px 0;
}
.career-center p {
	margin-bottom: 30px;
}
.career-center a {
	margin: 30px;
}
.career-center {
	padding-top: 40px;
}
.btn-gti {
	margin: 15px;
}
#transportation.row {
	padding-bottom: 30px
}
#contact-info {
	padding-bottom: 30px;
}
.gti-btn {
	width: 200px
}
footer {
	background-color: #E1E1E1;
	padding: 20px 0 10px 0;
}